{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Django</title>
    <link rel="stylesheet" href="{% static "static/css/foundation.css" %}">
</head>
<body>
<div class="top-bar">
	<section class="top-bar-section">
		<h3 class="left"><a href="/">Мой блог</a></h1>
		<ul class="right">
			{% if username %}
				<li><a href="/auth/logout/">Выйти {{ username }}</a></li>
			{% else	%}
				<li><a href="/auth/login/">Войти</a></li>
			{% endif %}
		</ul>
	</section>
</div>
<div class="row">
    {% block article %}{% endblock %}
    {% block login %}{% endblock %}
</div>
</body>
</html>